@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

$base-color: #0e1626; 
$text-color: #ccc;
$accent: #3E38F2;
$accent2: #0029FA;
$accent3: #230A59;
$accent4: #5C73F2;
$accent5: #829FD9;
$accent6: #F25CA2;
$font1: 'Poppins', sans-serif;



*{
    box-sizing: border-box;
    transition: background-color .6s, box-shadow .6s, border-radius .6s, width .6s, transform .6s;
}


/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    background: $base-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    font-family: $font1
    
}

/* Modal start */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000;
    width: 45%; /* Could be more or less, depending on screen size */
    border-radius: 10px;

    .fa-exclamation-circle{
        font-size: 32px;
        font-weight: bold;
    }
  }
  
  /* The Close Button */
  .close {
    align-self: flex-end;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

/* Modal end*/

h1{
    font-size: 32px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 300;
}

section{
    width: 100%;
    height: 80vh;
}

.fa-bell{
    color: $accent2;
}

.accent{
    color: $accent6;
    
    
}

.sm-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 0;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 50%;
    height: 50%;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 0;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 100%;
    height: 80%;
}

.button {
    width:10%;
    height:40%;
    text-align:center;
    line-height:60px;
    border-radius:50%;
    background-color:$accent2;
    color:#FFFFFF;
    font-size:32px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    perspective:800;
    transform-style:"preserve-3d";
    cursor:pointer;
    &:hover{
        background:darken($accent5,5%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 20%;
        transform: translateY(-8%);
    }
    &:active{
        background:darken($accent5,5%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 20%;
        transform: translateY(-8%);
    }
    
  }

.map{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 16px;


    .map-title{
        flex: 0;
    }
    .map-sub-title{
        flex: 0;
    }
   
    /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
    #map {
        flex: 2 0 50vh;
        width: 100%;
        height: 100%;
    }
}
.users{
    flex: 1;
    margin-bottom: 5vh;
    color:$base-color;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    align-items: flex-start;

    .user-checkin{
        margin: 16px;
        padding: 32px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        

        .checkin-text{
            flex: 0;
            width: 100%;
            align-self: center;
        }

        .checkin-btn{
            flex: 0;
            
        }
    }

    .latest{
        margin: 16px;
        padding: 24px;
        flex: 1;
        display: flex;
        flex-direction: column;

        .user-title{
            flex: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            border-bottom: 1px solid $base-color;
            width: 100%;
    
            h1{
                flex:1;
            }
            i{
                flex:0;
                font-size: 16px;
            }
        }
        .current-users{
            flex: 2 0 20vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .current-user{
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 8px;
                
                
                img{
                    flex: 1;
                    width: 20%;
                    height: auto;
                    
                }
                h3{
                    flex: 2; 
                }
    
    
            }
        }
    } 

}

.intro{
    width:100%;
    flex: 0;
    padding-top: 5%;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    background:linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)), url("https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    
    .header{
        width: 60%;
        height: auto;
        align-self: center;
        display: flex;
        flex-direction: column;

        .header-text{
            align-self: center;
            color: $text-color;
            font-size: 72px;
            z-index: 1;
            font-weight: 800;
        }
    
        .header-sub{
            align-self: center;
            color: $text-color;
            font-size: 40px;
            z-index: 1;
            font-weight: 800;
        }
    
        .header-par{
            align-self: center;
            color: $text-color;
            z-index: 1;
            font-weight: 800;
        }

    }

    

    .scroll{
        margin:0;
        width: 100%;
        font-size: 10vw;
        font-family: $font1;
        font-weight: 800;
        color: $accent6;/*rgba(130, 159, 217, .1);*/
        z-index: 1;

        span{
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 11% ;
        }
    }
    
}
 @media screen and (max-width: 800px) {
     /* Modal start */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;

    .fa-exclamation-circle{
        font-size: 32px;
        font-weight: bold;
    }
  }
  
  /* The Close Button */
  .close {
    align-self: flex-end;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,
  .close:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

/* Modal end*/
    .button {
    width:10%;
    height:40%;
    text-align:center;
    line-height:60px;
    border-radius:50%;
    background-color:$accent2;
    color:#FFFFFF;
    font-size:32px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor:pointer;
    &:hover{
        background:darken($accent5,5%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 20%;
        transform: translateY(-8%);
    }
    &:active{
        background:darken($accent5,5%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 20%;
        transform: translateY(-8%);
    }
    
  }
    .users{
        flex: 1;
        margin-bottom: 5vh;
        color:$base-color;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .user-checkin{
            margin: 16px;
            padding: 24px;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            
    
            .checkin-text{
                flex: 0;
                width: 100%;
                align-self: center;
            }
    
            .checkin-btn{
                flex: 0;
                
            }
        }
    
        .latest{
            margin: 16px;
            padding: 24px;
            flex: 1;
            display: flex;
            flex-direction: column;
    
            .user-title{
                flex: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-bottom: 4px;
                align-items: center;
                border-bottom: 1px solid $base-color;
                width: 100%;
        
                h1{
                    flex:1;
                }
                i{
                    flex:0;
                    font-size: 16px;
                }
            }
            .current-users{
                flex: 1 0 20vh;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
        
                .current-user{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 2px;
                    width: 100%;
                    
                    
                    img{
                        flex: 1;
                        width: 40%;
                        height: auto;
                        
                    }
                    h3{
                        flex: 2; 
                    }
        
        
                }

                .sm-card{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
                    padding: 0;
                    text-align: center;
                    background-color: #f1f1f1;
                    border-radius: 8px;
                    width: 70%;
                    height: 50%;
                
                }
            }
        } 
    
    }
  }
@media screen and (max-width: 700px) {
    .button {
    width:20%;
    height:40%;
    text-align:center;
    line-height:60px;
    border-radius:50%;
    background-color:$accent2;
    color:#FFFFFF;
    font-size:32px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor:pointer;
    &:hover{
        background:darken($accent5,5%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 20%;
        transform: translateY(-8%);
    }
    &:active{
        background:darken($accent5,5%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 20%;
        transform: translateY(-8%);
    }
    
  }
    .users{
        flex: 1;
        margin-bottom: 5vh;
        color:$base-color;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .user-checkin{
            margin: 16px;
            padding: 24px;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            
    
            .checkin-text{
                flex: 0;
                width: 100%;
                align-self: center;
            }
    
            .checkin-btn{
                flex: 0;
                
            }
        }
    
        .latest{
            margin: 16px;
            padding: 24px;
            flex: 1;
            display: flex;
            flex-direction: column;
    
            .user-title{
                flex: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-bottom: 4px;
                align-items: center;
                border-bottom: 1px solid $base-color;
                width: 100%;
        
                h1{
                    flex:1;
                }
                i{
                    flex:0;
                    font-size: 16px;
                }
            }
            .current-users{
                flex: 1 0 20vh;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
        
                .current-user{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 2px;
                    width: 100%;
                    
                    
                    img{
                        flex: 1;
                        width: 40%;
                        height: auto;
                        
                    }
                    h3{
                        flex: 2; 
                    }
        
        
                }

                .sm-card{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
                    padding: 0;
                    text-align: center;
                    background-color: #f1f1f1;
                    border-radius: 8px;
                    width: 70%;
                    height: 50%;
                
                }
            }
        } 
    
    }
  }

 




